---
import Accordion from "../components/Accordion.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Webfeature</h1>
		<Accordion>
			<summary>Overskrift 1</summary>
		</Accordion>
		<Accordion>
			<summary>Overskrift 2</summary>
		</Accordion>
		<Accordion>
			<summary>Overskrift 3</summary>
		</Accordion>
	</body>
</html>
